.header {
  margin-top: 3%;
  font-size: 1.2rem;
  /* margin-left:30%; */
  width: 90%;
  text-align: right;
}
.profile {
  text-align: center;
  margin-top: 3%;
  margin-bottom: 3%;
  font-size: 1.2rem;
}
.contain {
  margin: 2% 3%;
}
.underline {
  border-bottom: 2px solid black;
  padding-bottom: 7px;
}
.exper {
  margin-left: 3%;
}
.exper2 {
  margin-left: 20%;
}
.flex1 {
  margin-left: 25%;
  display: flex;
}
.frontend {
  margin-left: 3%;
}
.backend {
  margin-left: 3%;
}
img {
  width: 30%;
  margin-top: 3%;
  margin-left: 3%;
}
.i {
  margin-left: 40%;
}
.flex2 {
  display: flex;
}

ul .bolded {
  font-weight: 900;

}
