.header {
  margin-top: .3%;
  font-size: .9rem;
  /* margin-left:30%; */
  width: 97%;
  text-align: right;
}
.profile {
  text-align: center;
  margin-top: .5%;
  margin-bottom: .5%;
  font-size: 1.1rem;
}
.contain {
  margin: 1% 2%;
}
.underline {
  border-bottom: 2px solid black;
  padding-bottom: 7px;
}
.exper {
  margin-left: 3%;
}
.flex1 {
  display: flex;
}
.frontend {
  margin-left: 1%;
}
.backend {
  margin-left: 1%;
}

.mainc {
  display: flex;
}
.logowrap {
  display: flex;
  margin-top: 2%;
  margin-left: 4%;
  opacity: 0.75;
}
.list {
display: flex;
}
li{
  list-style-type: none;
  margin-left: 2%;
}
