.header {
  margin-top: 3%;
  font-size: 1.2rem;
  /* margin-left:30%; */
  width: 90%;
  text-align: right;
}
.profile {
  text-align: center;
  margin-top: 3%;
  margin-bottom: 3%;
  font-size: 1.2rem;
}
.contain {
  margin: 2% 3%;
}
.underline {
  border-bottom: 2px solid black;
  padding-bottom: 7px;
}
.exper {
  margin-left: 6%;
}
.flex1 {
  display: flex;
}
.frontend {
  margin-left: 3%;
}
.backend {
  margin-left: 3%;
}
img {
  width: 30%;
  margin-top: 3%;
  margin-left: 3%;
}
.mainc {
  display: flex;
}
.logowrap {
  display: flex;
  margin-top: 2%;
  margin-left: 4%;
  opacity: 0.75;
}
.d2 {
  margin-top: 2%;
  margin-left: 1%;
  color: rgb(17, 16, 16);
  font-size: 3.5rem;
  display: flex;
}
.d22 {
  font-size: 1.1rem;
  padding: 3px;
}
.fas {
  color: rgb(8, 125, 172);
  font-size: 2.5rem;
  margin-top: 55%;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin: 0 auto;
  width: 100%;
  margin: 0 auto;
  margin-top: 1%;
}
.navbar a {
  margin-bottom: 3%;
  font-size: 1.2rem;
  margin-left: 5%;
  color: rgba(7, 7, 7, 0.7);
  font-weight: 700;
  font-size: 1.2rem;
  font-weight: 700;
}
.navbar a:hover {
  color: rgb(24, 25, 26);
  border-bottom: 2px solid rgb(8, 125, 172);
  transition: 0.5s;
}
.navbar a:nth-child(6):hover {
  color: rgb(235, 241, 243);
  transition: 0.6s;
  background-color: rgb(8, 125, 172);
}

.navbar a:nth-child(2) {
  font-size: 1.2rem;
  font-weight: 700;
}
.navbar a:nth-child(3) {
  font-size: 1.2rem;
  font-weight: 700;
}
.navbar a:nth-child(4) {
  font-size: 1.2rem;
  font-weight: 700;
}
.navbar a:nth-child(5) {
  font-size: 1.2rem;
  font-weight: 700;
}
.navbar a:nth-child(6) {
  font-size: 1.2rem;
  border: 4px solid rgb(63, 144, 177);
  padding: 0.7% 2%;
  border-radius: 10px;
}

a {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}
